In [1]:
import pandas as pd
import os
import csv
import xlsxwriter

In [2]:
#Primer paso: unificar los archivos csv en una lista de listas
ruta_archivos = r"C:\Users\Usuario\Desktop\Programación\Proyecto Análisis de Datos Entrenos\Datos entrenos nuevos\Sentadilla Frontal"
nombre_archivo = "Datos Sentadilla Frontal.xlsx"

def unificar_archivos(ruta_archivos):
    lista_datos = []
    for archivo in os.listdir(ruta_archivos):
        if archivo.endswith('.csv'):
            ruta_archivo = os.path.join(ruta_archivos, archivo)
            with open(ruta_archivo, newline='') as archivo_csv:
                lector_csv = csv.reader(archivo_csv)
                for fila in lector_csv:
                    lista_datos.append(fila)
    return lista_datos

lista_datos = unificar_archivos(ruta_archivos)

In [3]:
#Segundo paso: convertir la lista de listas en un dataframe de pandas
def convertir_a_pandas(lista_datos):
    df = pd.DataFrame(lista_datos)
    return df

df = convertir_a_pandas(lista_datos)

In [4]:
#Paso 3: eliminar las filas que no nos interesan
df.drop(df.loc[df[0] == "Atleta"].index, inplace=True)
df.drop(df.loc[df[0] == "Marcado con *: Solo encoder con Bluetooth"].index, inplace=True)
df.drop(df.loc[df[0] == "Email"].index, inplace=True)

In [7]:
#Paso 4: Determinar que nombre quiero para mis columnas y elimnar esas filas
df.columns = df.iloc[0]
df.drop(df.loc[df["Ejercicio"] == "Ejercicio"].index, inplace=True)

In [12]:
#Paso 5: Eliminar las columnas que no me interesan
df.drop("Comentarios", axis=1, inplace=True)

In [13]:
df

3,Ejercicio,Fecha,nº Serie,Peso (kg),nº Rep.,Tipo*,VMP (m/s),Velocidad máxima (m/s),Potencia Media (W),ROM (cm),1RM (kg)
4,SENTADILLA FRONTAL,30-01-2023 16:55,None,None,None,None,None,None,None,None,None
5,,,1,"20,00",None,None,None,None,None,None,None
6,,,,,1,C,"1,23","2,10","241,33","100,90","44,99"
7,,,2,"50,00",1,C,"1,23","2,10","241,33","100,90","44,99"
8,,,,,1,C,"0,86","1,51","421,83","86,51","73,95"
...,...,...,...,...,...,...,...,...,...,...,...
171,,,,,1,C,"0,63","1,25","401,72","84,79","79,26"
172,,,,,2,C,"0,53","1,13","337,95","80,08","73,64"
173,,,3,"65,00",2,C,"0,53","1,13","337,95","80,08","73,64"
174,,,,,1,C,"0,76","1,47","484,61","84,61","87,99"
175,,,,,2,C,"0,70","1,45","446,36","86,29","83,73"

In [16]:
#Reseteo el index
df.reset_index(drop=True, inplace=True)

140

In [22]:
#Paso 6: Igualar todas las filas en las que no haya datos en la columna ejercicio, fecha, etc.

for columna in df.columns:
    for celda in columna:
        if celda == "":
            celda =

KeyError: -1

In [18]:
df

3,Ejercicio,Fecha,nº Serie,Peso (kg),nº Rep.,Tipo*,VMP (m/s),Velocidad máxima (m/s),Potencia Media (W),ROM (cm),1RM (kg)
0,SENTADILLA FRONTAL,30-01-2023 16:55,None,None,None,None,None,None,None,None,None
1,,,1,"20,00",None,None,None,None,None,None,None
2,,,,,1,C,"1,23","2,10","241,33","100,90","44,99"
3,,,2,"50,00",1,C,"1,23","2,10","241,33","100,90","44,99"
4,,,,,1,C,"0,86","1,51","421,83","86,51","73,95"
...,...,...,...,...,...,...,...,...,...,...,...
135,,,,,1,C,"0,63","1,25","401,72","84,79","79,26"
136,,,,,2,C,"0,53","1,13","337,95","80,08","73,64"
137,,,3,"65,00",2,C,"0,53","1,13","337,95","80,08","73,64"
138,,,,,1,C,"0,76","1,47","484,61","84,61","87,99"
139,,,,,2,C,"0,70","1,45","446,36","86,29","83,73"

In [ ]:
#Cambio la fecha a formato date, elimino la hora
df["Fecha"] = pd.to_datetime(df["Fecha"], format="%d-%m-%Y %H:%M")
df["Fecha"] = df["Fecha"].dt.date